@font-face {
    font-family: "ALS Artemius";
    src: url("/fonts/ALSArtemius-Regular.ttf") format("truetype"), url("/fonts/ALSArtemius-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "ALS ArtemiusSans";
    src: url("/fonts/ALSArtemiusSans-Regular.ttf") format("truetype"), url("/fonts/ALSArtemiusSans-Regular.woff") format("woff");
    font-weight: normal;
}

:root {
    --primary: #0081B8;
    --bg: #f5f5f5;
    --secondary: #131313;
}

body, html {
    background:var(--bg);
}

* {
    font-family:'ALS Artemius', 'Playfair Display', 'Times New Roman', sans-serif;
}

.header {
    background:#fff;
}

.header-wrapper {
    max-width:1600px;
    margin:0 auto;
    justify-content: space-between;
}

.header-link {
    color:#4A4A4A;
    border-radius:7px;
    transition:0.1s;
    padding:0.8em 2em;
    text-decoration: none;
    font-family:'ALS ArtemiusSans', 'Helvetica', 'Arial', sans-serif;
}

.header-link:hover {
    color:#0E0E0E;
    background:#F9F9F9;
}

.logotype-wrapper {
    font-size:22px;
    line-height:66px;
    cursor:default;
}

.logotype-wrapper span:first-child {
    color:var(--primary)
}

.intro-wrapper {
    max-width:1600px;
    margin:10vh auto;
}

.intro-image-wrapper {
    width:650px;
    height:650px;
    background:url("/images/intro-image.webp") no-repeat center center;
    background-size:contain;
}

.intro-text-wrapper h1 {
    font-size:4rem;
    max-width:550px;
    margin-bottom: 10vh;
    margin-top:15vh;
}

.button-primary {
    background:var(--primary);
    color:#fff;
    padding:0.8em 4em;
    transition:.05s;
    text-decoration:none;
    border-radius:7px;
}

.button-primary:hover {
    opacity:0.9;
    color:#fff;
    cursor:pointer;
}

.auth-wrapper {
    width:450px;
    padding:2em;
    border-radius:1.5em;
    background:#fff;
    margin:15vh auto;
}

.auth-wrapper h2 {
    text-align: center;
    margin-bottom:1em;
}

.form-input {
    border-radius:3px;
    border:1px solid var(--bg);
    padding:0.7em;
    margin:0.4em 0;
    outline:none;
}

.form-submit {
    border:none;
    border-radius:3px;
    background:#FBFBFB;
    color:var(--primary);
    box-shadow:0 4px 20px rgba(0,0,0,0.05);
    padding:0.7em;
    margin:1em 0 0.4em;
}

.form-submit:hover {
    background:#f9f9f9;
    cursor:default;
}

.screen-wrapper {
    text-align:center;
    margin:25vh auto;
}

.screen-wrapper h1 {
    font-size:4em;
    margin-bottom:10vh;
}

.hidden-radio {
    visibility: hidden;
    width:0;
    height:0;
    margin:0;
    padding:0;
}

.input-radio {
    border-radius:3px;
    background:#FBFBFB;
    color: #646464;
    text-align: center;
    box-shadow:0 4px 20px rgba(0,0,0,0.05);
    padding:0.7em;
    outline:none;
    width:170px;
}

.hidden-radio:checked ~ .input-radio {
    background:var(--primary);
    color:#fff;
}

.input-radio:hover {
    background:#f9f9f9;
    cursor:default;
}

.inline-form-inputs .form-input {
    width:45%;
}

.width-700 {
    width:700px;
}

.dashboard-wrapper {
    width:1200px;
    margin:10vh auto;
    background:#fff;
    border-radius:9px;
    padding:1em;
}

.dashboard-h1 {
    font-size:3em;
    text-align: center;
    margin:10vh auto;
}

.dashboard-selection {
    padding:0.5em 2em;
    background:#fff;
    color:#313131;
    text-decoration:none;
    margin:0.2em 0;
    border-radius:5px;
    cursor:default;
}

.dashboard-selection:hover {
    background:var(--bg);
}

.dashboard-selection-active {
    background:var(--bg);
    color:#202020;
}

.dashboard-selection-active:hover {
    color:#202020;
}

.dashboard-content {
    background: rgba(245, 245, 245, 0.56);
    border-radius:5px;
    padding:1.5em;
    margin-left:auto;
    width:82%;
}

.dashboard-linear-item {
    padding:.7em 1.5em;
    background:#fff;
    border-radius:3px;
}

.dashboard-buttons {
    height:45px;
}

.dashboard-linear-item span {
    line-height:50px;
}

.dashboard-linear-item div span {
    margin:0 0.5em;
    font-family:'ALS ArtemiusSans';
    color:#B1B1B1;
}

.dashboard-linear-item div span:last-child {
    color:#474747;
}

.report-wrapper {
    width:1200px;
    margin:5vh auto;
    padding:1.5em;
    background:#fff;
    border-radius:0.5em;
    box-shadow:0 4px 20px rgba(0,0,0,0.07);
}
